<%- contentFor('script') %>
<script src="/js/print/star/StarWebPrintTrader.js"></script>
<script src="/js/print/star/StarWebPrintBuilder.js"></script>
<script src="/js/print/star/starprint.js"></script>
<script src="/js/print/star/print.js"></script>
<script src="/js/setting/index.js"></script>
<%- contentFor('body') %>
<div class="setting">
    <h1 class="page-ttl"><%- __('setting.pageTtl') %></h1>
    <p class="read"><%- __('setting.read') %></p>
    <form method="post">
        <div class="form-layout center">
            <dl class="mb-small">
                <dt><%- __('common.theater') %></dt>
                <dd>
                    <select name="theater">
                        <% for (const theater of movieTheaters) { %>
                        <option selected value="<%= theater.location.branchCode %>"><%= theater.name.ja %></option>
                        <% } %>
                    </select>
                </dd>
            </dl>
            <dl class="mb-small">
                <dt><%- __('common.deviceId') %></dt>
                <dd>
                    <input type="text" name="deviceId" autocomplete="off" placeholder="<%- __('common.placeholder.deviceId') %>" value="">
                </dd>
            </dl>
            <dl class="mb-small">
                <dt><%- __('common.lastNameHira') %></dt>
                <dd>
                    <input type="text" name="familyName" autocomplete="off" placeholder="<%- __('common.placeholder.lastNameHira') %>" value="">
                </dd>
            </dl>
            <dl class="mb-small">
                <dt><%- __('common.firstNameHira') %></dt>
                <dd>
                    <input type="text" name="givenName" autocomplete="off" placeholder="<%- __('common.placeholder.firstNameHira') %>" value="">
                </dd>
            </dl>
            <dl class="mb-small">
                <dt><%- __('common.mailAddr') %></dt>
                <dd>
                    <input type="text" name="email" autocomplete="off" placeholder="<%- __('common.placeholder.mail') %>" value="">
                </dd>
            </dl>
            <dl class="mb-small">
                <dt><%- __('common.printer') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="printer" autocomplete="off" placeholder="<%- __('common.placeholder.printer') %>" value="">
                </dd>
            </dl>
            <p class="mb-large"><%- __('setting.certificate') %></p>
        </div>
        
        <div class="button middle-button next-button yellow-button mb-middle"><button class="center icon-triangle-white" type="submit"><%- __('setting.next') %></button></div>
    </form>
    <div class="button middle-button yellow-button print-button"><a class="center icon-triangle-white" href="#"><%- __('setting.print') %></a></div>
</div>

<%- include('./_validation') %>

<%- contentFor('modals') %>
<%- include('./modals/validation') %>
<%- include('./modals/print') %>