<div style="display: none" class="inquiry-print center">
    <h1 class="page-ttl"><%- __('inquiry.print.pageTitle') %></h1>
    <p class="read mb-x-large"><%- __('inquiry.print.read') %></p>
    <div class="center animation-ptint"></div>
</div>
<div style="display: none" class="inquiry-complete">
    <h1 class="page-ttl"><%- __('inquiry.complete.pageTitle') %></h1>
    <p class="read"><%- __('inquiry.complete.read') %></p>
    <div class="text-center mb-large"><img src="/images/fixed/print.svg" width="400" height="259" alt=""></div>
    <div class="button middle-button yellow-button"><a class="center icon-triangle-white" href="/"><%- __('inquiry.complete.next') %></a></div>
</div>