<%- contentFor('script') %>
<script src="/js/print/star/StarWebPrintTrader.js"></script>
<script src="/js/print/star/StarWebPrintBuilder.js"></script>
<script src="/js/print/star/starprint.js"></script>
<script src="/js/print/star/print.js"></script>
<script src="/js/inquiry/index.js"></script>
<%- contentFor('style') %>
<link href="/css/fixed.css" rel="stylesheet">
<style>
.navigation .buttons .ticketing-button {
    display: none;
}
</style>
<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.pageTitle') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="table-layout center mb-large">
        <dl>
            <dt><%- __('common.purchaseNumber') %></dt>
            <dd><%= inquiryModel.input.reserveNum %></dd>
        </dl>
        <dl>
            <dt><%- __('common.filmTitle') %></dt>
            <dd>
                <%= inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.workPerformed.name %>
            </dd>
        </dl>
        <dl>
            <dt><%- __('common.appreciationDate') %></dt>
            <dd>
                <%
                    moment.locale('ja');
                    const date = moment(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.startDate).format('YYYY年MM月DD日(ddd)');
                    const startTime = timeFormat(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.startDate);
                    const endTime = timeFormat(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.endDate);
                 %>
                <%= date %> <%= startTime %> - <%= endTime %>
            </dd>
        </dl>
        <dl>
            <dt><%- __('common.seat') %></dt>
            <dd>
                <% for (let i = 0; i < inquiryModel.order.acceptedOffers.length; i++) { %>
                <% const offer = inquiryModel.order.acceptedOffers[i] %>
                <p><%= offer.itemOffered.reservedTicket.ticketedSeat.seatNumber %> <%= offer.itemOffered.reservedTicket.ticketType.name.ja %></p>
                <% } %>
            </dd>
        </dl>
    </div>
    <% if (moment(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.endDate).add(10 ,'minutes').unix() < moment().unix()) { %>
    <p class="text-center"><%- __('inquiry.confirm.after') %></p>
    <% } else if (moment(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.startDate).subtract(24, 'hours').unix() > moment().unix()) { %>
    <p class="text-center"><%- __('inquiry.confirm.before') %></p>
    <% } else { %>
    <div class="button middle-button print-button yellow-button"><a class="center icon-triangle-white" href="/inquiry/complete"><%- __('inquiry.confirm.next') %></a></div>
    <% } %>
</div>
<input type="hidden" name="ticketLength" value="<%= inquiryModel.order.acceptedOffers.length %>">
<input type="hidden" name="theaterCode" value="<%= inquiryModel.movieTheater.location.branchCode %>">
<input type="hidden" name="reserveNum" value="<%= inquiryModel.input.reserveNum %>">
<input type="hidden" name="telephone" value="<%= inquiryModel.input.telephone %>">
<input type="hidden" name="expire" value="<%= moment(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.startDate).add(10, 'day').format('x') %>">
<%- include('completeContents') %>

<%- contentFor('modals') %>
<%- include('modals/print') %>